@use "../variables";

@charset "utf-8";

body {
  height: 100vh;
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  user-select: none;
}

.wrapper {
  margin: 0 auto;
  max-width: variables.$canvas-max-width + variables.$canvas-border-width * 2;
  display: grid;
  row-gap: variables.$gap-2;
}

.button,
.select {
  width: 100%;
  border: 1px solid gray;
  border-radius: variables.$gap-2;
  padding: 0.6em 0 0.4em;
  font-weight: bold;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }
}

@each $key,
  $color
    in (
      red: variables.$myaku-red,
      blue: variables.$myaku-blue,
      eye: variables.$myaku-eye,
      black: variables.$expo-black
    )
{
  .button-#{"" + $key} {
    color: $color;
    border-color: $color;
    background: rgb($color, 20%);
  }
}
