@use "../mixin";
@use "../variables";

@charset "utf-8";

.sketch {
  line-height: 0;

  .sketch-canvas {
    cursor: pointer;
    touch-action: pinch-zoom;
    border: variables.$canvas-border-width solid variables.$expo-black;
  }
}

.spawner,
.config {
  display: grid;
  gap: variables.$gap-1;
  grid-template-columns: repeat(3, 1fr);
}

.config {
  label {
    @include mixin.hide-content;
  }
}

.copyright {
  border-top: 1px solid variables.$expo-black;
  padding-top: variables.$gap-2;
  line-height: 1.3;
  font-size: 0.8rem;

  .copyright-note {
    margin-bottom: variables.$gap-1;
  }

  .copyright-ref {
    text-align: right;

    a {
      color: variables.$ref-link;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: variables.$ref-visited;
      }
    }
  }
}
