@charset "utf-8";

// Size Definition
$canvas-max-width: 640px;
$canvas-border-width: 1px;
$gap-unit: 4px;
$gap-1: $gap-unit * 1;
$gap-2: $gap-unit * 2;

// Color Palettes
$expo-black: #222426;
$myaku-red: #e50012;
$myaku-blue: #0068b6;
$myaku-eye: #736707;
$ref-link: #1a0dab;
$ref-visited: #609;
